{% extends 'base.html.twig' %}


{% block body %}
    <div class="block">
        <h1>Mes Messages reçu</h1>
        {% for messageRecu in adoptant.messagesRecu %}
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">messageRecu.expediteur</div>
            <div class="card-body">
                <h5 class="card-title">messageRecu.</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
