{% extends 'base.html.twig' %}


{% block body %}

    <div class="container vh-100"  >

        <h2>A propos de nous </h2>

       <p> La santé est notre obsession
        Tout ce que nous faisons est motivé par notre passion pour la santé et le bien-être de chaque chien et chat.
        Connaissances
        Passion
        Besoins de l’animal
        Précision
        Respect
        La quête du savoir
        Notre compréhension approfondie des besoins des chiens et des chats nous permet de créer la nutrition santé pour animaux la plus précise au monde. Nous n'arrêtons jamais d'apprendre et ne tenons jamais rien pour acquis. C'est pourquoi, nous collaborons avec des experts scientifiques, vétérinaires et comportementaux, et nous entretenons un dialogue permanent avec les possesseurs de chats et de chiens du monde entier.
        </p>
        <p>
        Développement durable
        Grâce à notre approche en matière de développement durable, nous sommes sûrs d'offrir aux animaux, aux personnes et à la planète le respect qu’ils méritent.
        </p><p>
        Obtenez les réponses dont vous avez besoin
        Des réponses d'experts aux questions les plus courantes sur la santé des animaux domestiques, sur Royal Canin et sur nos produits.
        </p><p>
        Engagement en faveur de la qualité
        La qualité nutritionnelle et la sécurité des aliments sont au cœur de tout ce que nous faisons dans le monde.
        </p>

    </div>


{% endblock body %}