{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">

        <h2>A propos de nous </h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at commodi dignissimos, eligendi et eum
            excepturi iste itaque magni nam nesciunt non officia ratione repudiandae sapiente tempore totam veniam
            voluptatum.</p>
        <p>Dolorem impedit molestias nam voluptatibus! Architecto, at autem eius error ex expedita illo in inventore
            itaque laudantium, nostrum odio odit perspiciatis placeat qui rem tempora ullam! Dignissimos iste sed
            voluptatibus.</p>
        <p>Delectus dolores eveniet in neque pariatur quas. Ab aliquam aperiam aspernatur dolor exercitationem illo
            ipsum, molestiae nam necessitatibus, porro, quibusdam sed sint sunt. Inventore iusto laboriosam recusandae
            sit ullam veniam!</p>
        <p>Accusamus, aliquam asperiores deleniti distinctio dolore est ex fugiat, harum hic ipsum laborum magni maxime
            minima molestiae nam, nihil obcaecati optio quia recusandae repudiandae sapiente sit suscipit ut veritatis
            vero?</p>
        <p>Accusantium alias animi at autem consequatur debitis dicta dolore dolores doloribus enim id incidunt itaque
            maxime nam, nobis numquam obcaecati pariatur perferendis, quam quidem rem rerum saepe tempore voluptatibus
            voluptatum.</p>
    </div>


{% endblock body %}