{% extends 'base.html.twig' %}

{%  block body %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta, dignissimos doloribus earum et impedit, incidunt modi nam neque nihil obcaecati odit optio quia recusandae rerum sint sit tenetur, voluptatibus.
    </p>
{% endblock %}