{% extends 'base.html.twig' %}

{%  block body %}

<h1 class="text-xl-center ">les spa</h1>
    <br><br>

    <div class="container" id="q">
<img id="qq" src="http://www.graal-defenseanimale.org/blog/wp-content/uploads/2018/01/Cartes-refuges-partenaires_Accueils-2017.png">
    <style>
        #q{
            width:600px;
            height: 400px;
            display: flex;
            justify-content: center;
        }
#qq{

}
    </style>
    </div>
    <br>
    <p class="text-xl-center">La SPA recueille chaque jour les animaux en détresse, abandonnés ou perdus dans ses 63 refuges et Maisons SPA.
        <br> Ils sont pris en charge par les équipes puis identifiés, stérilisés, vaccinés, soignés, éduqués et sociabilisés avant d’être proposés à l’adoption.<br>

        Afin de faire de la prévention aux abandons de chiots et de chatons, souvent le résultat d’un défaut de stérilisation,<br>
        la SPA mène des campagnes de sensibilisation à la stérilisation, auprès des communes et des particuliers. <br>
        En effet, un animal non stérilisé est un animal qui peut engendrer un grand nombre de descendants qui se retrouveront dans des conditions de vie difficiles.<br>
        Un couple de chats par exemple peut avoir 20 000 descendants en 4 ans. <br>
        Pour lutter contre cette prolifération, la SPA mène des campagnes de stérilisation de chats libres en accord avec les mairies.<br>
        La stérilisation est le meilleur moyen de limiter la maltraitance, la misère animale et les abandons.</p>
    <br><br>

{% endblock %}