<footer class="py-2 bg-dark">
    <div class="container justify-content-around">
        <p class="m-0 text-center text-white">
            <a href=" {{ path('contact') }}"> Contactez-nous </a> /
            <a href=" {{ path('helps') }}">Aides</a> /
            <a href=" {{ path('other') }}">Divers</a>
        </p><br>
        <p class="m-0 text-center text-white">

            Nous soutenons: Toutes les SPA et nos chères éleveurs <img
                    src="https://upload.wikimedia.org/wikipedia/fr/thumb/0/00/Logo_de_la_SPA_(France).png/813px-Logo_de_la_SPA_(France).png"
                    alt="logo" height="50px" width=50px">
            <img src="https://www.zoomalia.com/marque_img/887/l_nouveau-royal-canin-logo-marque-zoomalia.jpeg"
                 alt="logo" height="50px" width=60px">
        </p>
    </div>
</footer>