
<footer class="py-2 bg-dark">
<div class="container">
<p class="m-0 text-center text-white"><a> contactez-nous </a> Aides / Divers /
</p><br>
<p class="m-0 text-center text-white">nous soutenons: bla bla bla bla </p>
</div>
</footer>