
<footer class="py-2 bg-dark fixed-bottom">
<div class="container">
<p class="m-0 text-center text-white"><a href="/"> Contactez-nous </a> /<a href="/">Aides</a> / <a href="/">Divers</a>
</p><br>
<p class="m-0 text-center text-white">Nous soutenons: Toutes les SPA et nos chères éleveurs </p>
</div>
</footer>